.degradado4 {
  background: var(--degradado4);
  
}

.bgBannerContacto {
  background-image: linear-gradient(to right, rgb(55, 0, 255), rgba(14, 0, 17, 0.73)), url("../../assets/img/bg2.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/** Contact **/
.contact .contact-img {
  width: 92%;
}

.bg_white_hover input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 0.75);
  color: #28004e;
  backdrop-filter: brightness(200%);
}
